<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:object="${form}" role="form" action="/order/new" method="post">

        <div class="form-group">
            <label for="memberId" th:text="${#messages.msg('HTML.ORDER_FORM.ROWS.MEMBER')}">주문회원</label>
            <select name="memberId" id="memberId" th:class="${memberIdError != null}? 'form-control fieldError' : 'form-control'">
                <option value="" th:text="${#messages.msg('HTML.ORDER_FORM.OPTIONS.DEFAULT.MEMBER')}">회원선택</option>
                <option th:each="member : ${form.members}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
                
            </select>
            <p th:if="${memberIdError != null}" th:text="*{memberIdError}">Incorrect data</p>
        </div>

        <div class="form-group">
            <label for="itemId" th:text="${#messages.msg('HTML.ORDER_FORM.ROWS.ITEM')}">상품명</label>
            <select name="itemId" id="itemId" th:class="${itemIdError != null}? 'form-control fieldError' : 'form-control'">
                <option value="" th:text="${#messages.msg('HTML.ORDER_FORM.OPTIONS.DEFAULT.ITEM')}">상품선택</option>
                <option th:each="item : ${form.items}"
                        th:value="${item.id}"
                        th:text="${item.name}" />
            </select>
            <p th:if="${itemIdError != null}" th:text="*{itemIdError}">Incorrect data</p>
        </div>

        <div class="form-group">
            <label for="count" th:text="${#messages.msg('HTML.ORDER_FORM.ROWS.COUNT')}">주문수량</label>
            <input type="number" name="count" id="count" th:placeholder="${#messages.msg('HTML.ORDER_FORM.INPUTS.PLACEHOLDER.COUNT')}"
                   th:class="${countError != null}? 'form-control fieldError' : 'form-control'"
            >
            <p th:if="${countError != null}" th:text="*{countError}">Incorrect data</p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
