<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    
    <div>
        <div>
            <form th:object="${orderSearch}" class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" th:field="*{memberName}" class="form-control"
                           th:placeholder="${#messages.msg('HTML.ORDER_LIST.PLACEHOLDER.MEMBER_NAME')}"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{orderStatus}" class="form-control">
                        <option value=""
                                th:text="${#messages.msg('HTML.ORDER_LIST.SELECT.DEFAULT.ORDER_STATUS')}">
                            주문상태
                        </option>
                        <option
                            th:each="status : ${T(com.jpabook.jpashop.domain.order.OrderStatus).values()}"
                            th:value="${status}"
                            th:text="${status}">option
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2"
                        th:text="${#messages.msg('HTML.ORDER_LIST.BUTTON.SEARCH')}">검색</button>
            </form>
        </div>

        <table class=" table table-striped
                ">
                <thead>
                <tr>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.NO')}">#</th>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.MEMBER_NAME')}">회원명</th>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.ITEM_NAME')}">대표상품 이름</th>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.ORDER_PRICE')}">대표상품 주문가격</th>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.ORDER_COUNT')}">대표상품 주문수량</th>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.ORDER_STATUS')}">상태</th>
                    <th th:text="${#messages.msg('HTML.ORDER_LIST.TABLE.COLS.ORDER_DATE')}">일시</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.memberName}"></td>
                    <td th:text="${order.itemName}"></td>
                    <td th:text="${order.orderPrice}"></td>
                    <td th:text="${order.count}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td>
                        <a th:if="${order.orderStatus == 'ORDER'}" href="#"
                           th:href="'javascript:cancel('+${order.orderId}+')'"
                           class="btn btn-danger">CANCEL</a>
                    </td>
                </tr>
                
                </tbody>
                </table>
        </div>
        
        <div th:replace="fragments/footer :: footer"/>
    
    </div> <!-- /container -->

</body>
<script>
    function cancel(id) {
        const form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/order/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>
